// 使用选择器继承来精简CSS

//通过选择器继承继承样式
.error {
  border: 1px solid red;
  background-color: #fdd;
}
.seriousError {
  @extend .error;
  border-width: 3px;
}

/*
.seriousError不仅会继承.error自身的所有样式，
任何跟.error有关的组合选择器样式也会被.seriousError
以组合选择器的形式继承，如下代码:
*/
//.seriousError从.error继承样式
.error a {
  //应用到.seriousError a
  color: red;
  font-weight: 100;
}
h1.error {
  //应用到hl.seriousError
  font-size: 1.2rem;
}

/*
混合器主要用于展示性样式的重用，
而类名用于语义化样式的重用。
因为继承是基于类的（有时是基于其他类型的选择器），
所以继承应该是建立在语义化的关系上。
当一个元素拥有的类（比如说.seriousError）
表明它属于另一个类（比如说.error），
这时使用继承再合适不过了
*/
